@model IEnumerable<Lab10.Models.Article>

@{
    ViewData["Title"] = "IndexList";
}

<h1>IndexList</h1>

<p>
    @ViewBag.myCategory
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <img class="img-thumbnail my-thumbnail" src="@Html.DisplayFor(modelItem => item.Photo)" />
            </td>
        </tr>
}
    </tbody>
</table>
