@model IEnumerable<Lab10.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<section class="left" width: 30%;>
    <ul>
        @if (@ViewBag.Current != null)
        {
            <li class="normal"><a asp-action="Index"><b>All categories</b></a></li>
        }
        else
        {
            <li class="current"><a asp-action="Index"><b>All categories</b></a></li>
        }
        @foreach (var item in ViewBag.Categories)
        {
            @if (item.Id == ViewBag.Current)
            {
                <li class="current"><a asp-action="IndexList" asp-route-id="@item.Id"><b>@item.Name</b></a></li>
            }
            else
            {
                <li class="normal"><a asp-action="IndexList" asp-route-id="@item.Id"><b>@item.Name</b></a></li>
            }
        }
    </ul>
</section>

<div>
    <a asp-action="Cart" class="btn btn-secondary" style="float: right">Cart</a>
</div>

<section class="right" width: 60%;>
    <h1>Shop</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Photo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <img class="img-thumbnail my-thumbnail" src="@Html.DisplayFor(modelItem => item.Photo)" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @using (Html.BeginForm("AddToCart", "Shop", new { id = item.Id }, FormMethod.Post))
                        {
                            <button type="submit" class="btn btn-success">Add to cart</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>











@*<h1>Shop index</h1>

<form asp-action="IndexList">
    <div class="form-group">
        <label asp-for="Id" class="control-label"></label>
        <select asp-for="Id" class="form-control" asp-items="ViewBag.CategoryId"></select>
        <span asp-validation-for="Id" class="text-danger"></span>
        <input type="submit" value="Show Articles" class="btn btn-primary" />
    </div>
</form>
*@
